﻿<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Acme Product Management</title>

    <!-- Style sheets -->
    <link href="Content/bootstrap.css" rel="stylesheet" />
</head>

<body ng-app="productManagement" ng-controller="MainCtrl as vm">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">Acme Product Management</div>
                <form ng-hide="vm.isLoggedIn()" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               placeholder="username (email)"
                               ng-model="vm.userData.email">
                    </div>
                    <div class="form-group">
                        <input type="password"
                               class="form-control"
                               placeholder="password"
                               ng-model="vm.userData.password">
                    </div>
                    <button type="submit"
                            class="btn btn-default"
                            ng-click="vm.login()">
                        Login
                    </button>
                    <button type="submit"
                            class="btn btn-default"
                            ng-click="vm.registerUser()">
                        Register
                    </button>
                    <div ng-show="vm.message">{{vm.message}}</div>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ng-if="vm.isLoggedIn()" ng-include="'app/products/productEditView.html'"></div>
    </div>

    <!-- Library Scripts -->
    <script src="scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>

    <!-- Services -->
    <script src="common/common.services.js"></script>
    <script src="common/productResource.js"></script>
    <script src="common/userAccount.js"></script>
    <script src="common/currentUser.js"></script>

    <!-- Product Controllers -->
    <script src="app/products/productListCtrl.js"></script>
    <script src="app/products/productEditCtrl.js"></script>
    <script src="app/mainCtrl.js"></script>
</body>

</html>